html {
  scroll-behavior: smooth;
}

body {
  color: rgb(212, 212, 212);
  margin: auto;
  max-width: auto;
  font: 1em sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 30px;
  display:inline-block;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #000000, #3f3e3e);
  background-attachment: fixed;
  gap: 15px;
  justify-content: start;
  overflow-x: hidden;
  overscroll-behavior-y: auto;
  min-height: 100vh;
}

h1, h1, h3 {
  color: rgb(197, 197, 197);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 40px
}

p {
  padding: 5px;
}

.btn-ghost {
	background: linear-gradient(135deg, #aaaaaa, #ee1a2b7a);
	color: white;
	padding: 10px 10px;
	border: none;
	border-radius: 9px;
  transition: 0.3s;
	font-size: 1em;
	cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}

.btn-ghost:hover {
	background: #e6e6e670;
}

.center {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.resource-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.resource-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30;
    width: 80%;
    max-width: 900px;
    flex-wrap: wrap;
}

img {
    max-width: 300px;
    height: 150px;
    display: block;
    border-radius: 10px;
}

.center-text {
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.content {
    width: 100%;
    padding: 10px;
}

h1 {
    font-size: clamp(1.8rem, 5vw, 3rem);
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 10px;
  }

  th {
    background: #3d3d3d65;
  }

