body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #696969;
    color: #f1f1f1;
}

form {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #f1f1f1;
    padding: 10px;
}

th {
    background-color: #333;
}

.fastest {
    background-color: gold;
    color: black;
    font-weight: bold;
}
